.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.logo {
  width: 85%;
  margin-top: 8%;
  margin-right: 0%;
  margin-bottom: 6%;
  margin-left: 4%;
}

.icon-menu {
  margin-right: 5%;
}

.example-spacer {
  flex: 1 1 auto;
}
